/* An minimal css file replaced by theme. Some css for upload */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #222222;
  background-color: #fff;
}
.alert {
  padding: 1em;
  margin-bottom: 1.5rem;
  border: 1px solid transparent;
  border-radius: 0.3rem;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 2.3em;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -0.1rem;
  right: -1.3rem;
  color: inherit;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #020c02;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #000000;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #081c22;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #000000;
}
.alert-warning {
  background-color: #fcf6c9;
  border-color: #fbe6b1;
  color: #332500;
}
.alert-warning hr {
  border-top-color: #f9de99;
}
.alert-warning .alert-link {
  color: #000000;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #560909;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #280404;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 0.3rem;
  font-weight: bold;
}
input[type="file"] {
  display: block;
}
input[type="file"]:focus {

  outline: thin dotted;
}
output {
  display: block;
  padding-top: 1.42rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #555555;
}
.form-control {
  display: block;
  width: 100%;
  height: 2.34rem;
  padding: 0.42rem 0.84rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control::-ms-expand {
  border: 0;
  background-color: transparent;
}
.form-control[disabled],
.form-control[readonly],

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0.42rem 0.84rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:focus,
.btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
  -webkit-box-shadow: 0 0 6px rgba(173, 173, 173, 0.6);
  box-shadow: 0 0 6px rgba(173, 173, 173, 0.6);
}
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333;
  background-color: #cccccc;
  border-color: #8f8f8f;
}
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  -webkit-box-shadow: 0 0 6px rgba(173, 173, 173, 0.6);
  box-shadow: 0 0 6px rgba(173, 173, 173, 0.6);
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  -webkit-box-shadow: 0 0 0 rgba(173, 173, 173, 0);
  box-shadow: 0 0 0 rgba(173, 173, 173, 0);
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}
.btn-primary {
  color: #fff;
  background-color: #265680;
  border-color: #20496c;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #1a3c59;
  border-color: #12293d;
  -webkit-box-shadow: 0 0 6px rgba(18, 41, 61, 0.6);
  box-shadow: 0 0 6px rgba(18, 41, 61, 0.6);
}
.btn-primary:hover {
  color: #fff;
  background-color: #1a3c59;
  border-color: #12293d;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #1a3c59;
  border-color: #12293d;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #0f2131;
  border-color: #04090e;
}
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  -webkit-box-shadow: 0 0 6px rgba(18, 41, 61, 0.6);
  box-shadow: 0 0 6px rgba(18, 41, 61, 0.6);
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #265680;
  border-color: #20496c;
}
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  -webkit-box-shadow: 0 0 0 rgba(18, 41, 61, 0);
  box-shadow: 0 0 0 rgba(18, 41, 61, 0);
}
.btn-primary .badge {
  color: #265680;
  background-color: #fff;
}
.btn-success {
  color: #fff;
  background-color: #0e660e;
  border-color: #0b500b;
}
.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #083908;
  border-color: #041a04;
  -webkit-box-shadow: 0 0 6px rgba(4, 26, 4, 0.6);
  box-shadow: 0 0 6px rgba(4, 26, 4, 0.6);
}
.btn-success:hover {
  color: #fff;
  background-color: #083908;
  border-color: #041a04;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #083908;
  border-color: #041a04;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #fff;
  background-color: #020c02;
  border-color: #000000;
}
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  -webkit-box-shadow: 0 0 6px rgba(4, 26, 4, 0.6);
  box-shadow: 0 0 6px rgba(4, 26, 4, 0.6);
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
  background-color: #0e660e;
  border-color: #0b500b;
}
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
  -webkit-box-shadow: 0 0 0 rgba(4, 26, 4, 0);
  box-shadow: 0 0 0 rgba(4, 26, 4, 0);
}
.btn-success .badge {
  color: #0e660e;
  background-color: #fff;
}
.btn-info {
  color: #fff;
  background-color: #1C5F74;
  border-color: #174e5f;
}
.btn-info:focus,
.btn-info.focus {
  color: #fff;
  background-color: #123d4b;
  border-color: #0b262e;
  -webkit-box-shadow: 0 0 6px rgba(11, 38, 46, 0.6);
  box-shadow: 0 0 6px rgba(11, 38, 46, 0.6);
}
.btn-info:hover {
  color: #fff;
  background-color: #123d4b;
  border-color: #0b262e;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #123d4b;
  border-color: #0b262e;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #fff;
  background-color: #081c22;
  border-color: #000000;
}
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  -webkit-box-shadow: 0 0 6px rgba(11, 38, 46, 0.6);
  box-shadow: 0 0 6px rgba(11, 38, 46, 0.6);
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
  background-color: #1C5F74;
  border-color: #174e5f;
}
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
  -webkit-box-shadow: 0 0 0 rgba(11, 38, 46, 0);
  box-shadow: 0 0 0 rgba(11, 38, 46, 0);
}
.btn-info .badge {
  color: #1C5F74;
  background-color: #fff;
}
.btn-warning {
  color: #fff;
  background-color: #996E00;
  border-color: #805c00;
}
.btn-warning:focus,
.btn-warning.focus {
  color: #fff;
  background-color: #664900;
  border-color: #423000;
  -webkit-box-shadow: 0 0 6px rgba(66, 48, 0, 0.6);
  box-shadow: 0 0 6px rgba(66, 48, 0, 0.6);
}
.btn-warning:hover {
  color: #fff;
  background-color: #664900;
  border-color: #423000;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #664900;
  border-color: #423000;
}
.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
  color: #fff;
  background-color: #332500;
  border-color: #050400;
}
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
  -webkit-box-shadow: 0 0 6px rgba(66, 48, 0, 0.6);
  box-shadow: 0 0 6px rgba(66, 48, 0, 0.6);
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
  background-color: #996E00;
  border-color: #805c00;
}
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
  -webkit-box-shadow: 0 0 0 rgba(66, 48, 0, 0);
  box-shadow: 0 0 0 rgba(66, 48, 0, 0);
}
.btn-warning .badge {
  color: #996E00;
  background-color: #fff;
}
.btn-danger {
  color: #fff;
  background-color: #B21313;
  border-color: #9b1111;
}
.btn-danger:focus,
.btn-danger.focus {
  color: #fff;
  background-color: #840e0e;
  border-color: #640b0b;
  -webkit-box-shadow: 0 0 6px rgba(100, 11, 11, 0.6);
  box-shadow: 0 0 6px rgba(100, 11, 11, 0.6);
}
.btn-danger:hover {
  color: #fff;
  background-color: #840e0e;
  border-color: #640b0b;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #840e0e;
  border-color: #640b0b;
}
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
  color: #fff;
  background-color: #560909;
  border-color: #2c0505;
}
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
  -webkit-box-shadow: 0 0 6px rgba(100, 11, 11, 0.6);
  box-shadow: 0 0 6px rgba(100, 11, 11, 0.6);
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus {
  background-color: #B21313;
  border-color: #9b1111;
}
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus {
  -webkit-box-shadow: 0 0 0 rgba(100, 11, 11, 0);
  box-shadow: 0 0 0 rgba(100, 11, 11, 0);
}
.btn-danger .badge {
  color: #B21313;
  background-color: #fff;
}
.btn-link {
  color: #12538B;
  font-weight: normal;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #061d31;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #707070;
  text-decoration: none;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 0.71rem 1.14rem;
  font-size: 1.25rem;
  line-height: 1.4;
  border-radius: 0.4rem;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 0.32rem 0.71rem;
  font-size: 0.85rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
.btn-xs,
.btn-group-xs > .btn {
  padding: 0.1rem 0.35rem;
  font-size: 0.85rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
