{# theme file #}
{% if (aSurveyInfo.options.theme == "off" or aSurveyInfo.options.theme == "") %}
    {{ registerTemplateCssFile('css/bootstrap.css') }}
{% endif %}
{{ registerTemplateCssFile('css/theme.css') }}
{{ registerTemplateCssFile('css/custom.css') }}
