<!-- LimeSurvey valid message and help -->
<!-- Remove all extra to use empty if able -->
{% if ((aQuestion.valid_message | raw | trim)  or (aQuestion.man_message | raw | trim)  or (aQuestion.file_valid_message | raw | trim) ) %}
<div class="{{ aSurveyInfo.class.questionvalidcontainer }} {{ aSurveyInfo.options.validitycolor }}" {{ aSurveyInfo.attr.questionvalidcontainer }}>{% if(aQuestion.valid_message) %}
{{ str_replace(' role="alert"','',aQuestion.valid_message) | raw | trim }}
{% endif %}{% if(aQuestion.man_message) %}<div id="question-mandatory-{{ aQuestion.qid }}">
{{ aQuestion.man_message | raw  | trim}}</div>
{% endif %}{% if(aQuestion.file_valid_message) %}
{{ aQuestion.file_valid_message | raw | trim}}
{% endif %}</div>
{% endif %}
